#double-jump-overlay {
    position: fixed;
    z-index: 10000;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    font-weight: bold;
    color: white;
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 52px;
    border: 0 solid transparent;
    text-align: center;
    opacity: 1;
    visibility: hidden;
    transition-property: border-width, opacity, font-size, line-height;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    pointer-events: none;
    touch-action: none;
}

#double-jump-overlay.show {
    visibility: initial;
    font-size: 90px;
    line-height: 45px;
    border-width: 30px;
}

#double-jump-overlay.hide {
    opacity: 0;
}

#double-jump-overlay.delta {
    transition-property: border-width, opacity;
    font-size: 45px;
    line-height: 60px;
}

#double-jump-overlay.delta span {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}